CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

*.swp
*.swo
*.o
*~
*.lock
*.DS_Store
*.out
*.pyc
*.obj
*.dll
*.exe
*.tlog
*.pdb
*.db
*.log
*.idb
*.ilk
*.clb
*.a
*.hmap
*.dia
*.d
*.LinkFileList
*.dat
*.save
*.user
*.depend
*.layout
*.xcuserstate
*.xccheckout
*log.txt
*.avi
*.mp4
*.m4v
*conflicted*

bin/
obj/
lib/
!build/beerpong.pro
